@model List<RoseClientF.Models.Seat>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var GroupRow = Model.GroupBy(x => x.Row);
    var lsTest = new List<string>() { "Phong", "Hồng" };
}
<link href="~/Asset/bootstrap/bootstrap.min.css" rel="stylesheet" />
<style>

    *, *:before, *:after {
        box-sizing: border-box;
    }

    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .seats {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .seat {
        display: flex;
        /*flex: 0 0 14.2857142857%;*/
        padding: 5px;
        position: relative;
    }
        /*.seat:nth-child(3) {
             margin-right: 14.2857142857%;
        }*/

        .seat:nth-child(1) {
            margin-left: 20px;
        }

        .seat input[type=checkbox] {
            position: absolute;
            opacity: 0;
        }

            .seat input[type=checkbox]:checked + label {
                background: #bada55;
                -webkit-animation-name: rubberBand;
                animation-name: rubberBand;
                animation-duration: 300ms;
                animation-fill-mode: both;
            }

            .seat input[type=checkbox]:disabled + label {
                background: #ddd;
                text-indent: -9999px;
                overflow: hidden;
            }

                .seat input[type=checkbox]:disabled + label:after {
                    content: "X";
                    text-indent: 0;
                    position: absolute;
                    top: 4px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                }

                .seat input[type=checkbox]:disabled + label:hover {
                    box-shadow: none;
                    cursor: not-allowed;
                }

        .seat label {
            display: block;
            position: relative;
            width: 100%;
            width: 35px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5rem;
            padding: 4px 0;
            background: #f42536;
            border-radius: 5px;
            animation-duration: 300ms;
            animation-fill-mode: both;
        }

            .seat label:before {
                content: "";
                position: absolute;
                width: 75%;
                height: 75%;
                top: 1px;
                left: 50%;
                transform: translate(-50%, 0%);
                background: rgba(255, 255, 255, .4);
                border-radius: 3px;
            }

            .seat label:hover {
                cursor: pointer;
                box-shadow: 0 0 0px 2px #5c6aff;
            }

    @@-webkit-keyframes rubberBand {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @@keyframes rubberBand {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        40% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        50% {
            -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
        }

        65% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        75% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .rubberBand {
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
    }

    .box-Seats {
        border: 1px solid #808080;
        padding: 12px;
        display:inline-block;
        /*margin-top:50px;*/
        /*max-width: 75%;*/
        /*margin: 80px auto;*/
    }

    .choose {
        background: #BADA55;
        border: 1px solid #000;
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-left: 10px;
    }

    .booked {
        background: #ddd;
        border: 1px solid #000;
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-left: 10px;
        position: relative;
    }

    .Empty {
        margin-left: 10px;
        background: #f42536;
        border: 1px solid #000;
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    .box-Note {
        border: 1px solid #000;
        padding: 10px;
        display: inline-block;
        /*transform: translate(85px, 65px);*/
    }

    .alldisabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .HourChoosed {
        background: #f8f404 !important;
        color: #b236e4;
    }

    .InfoTickets input{
        padding-left:12px;
        outline:none;
        border:none;
        width:500px;
    }
    .main {
        background-color: #202020;
        color: #fff;
    }
</style>

<div class="d-flex main">
    <div style="width:50vw;padding-top:10px !important;padding-left:30px !important;" class="p-2">
        Chọn khung giờ xem:<br />
        <div class="d-flex mt-3">

            @foreach (var item in ViewBag.LsHourMovie)
            {
                <div class="btn btn-info mr-2 div-hour" onclick="ChooseHour(this)">@item.Name</div>
            }
            <button class="btn btn-primary" onclick="SubmitHour()">Xác nhận</button>
        </div>
        <div class="box-Note mt-3">
            Note: <span class="choose"></span><span>:Được chọn</span><span class="Empty"></span><span>:Trống</span>
            <span class="booked"></span><span>:Đã đặt</span>
        </div>
        <div class="box-Seats mt-3">
            <span>Chọn ghế ngồi</span>
            <p style="margin-left:62%;transform:translateX(-50%);">Màn hình</p>
            <ol class="cabin fuselage">
                @foreach (var item in GroupRow)
                {
                    <li class="">
                        <ol class="seats" type="A">
                            <li style="display:inline-block;margin-top:12px;margin-right:15px;">
                                <label>@item.Key</label>
                            </li>
                            @foreach (var itemSeat in item)
                            {
                                <li class="seat">
                                    <input name="postion" type="checkbox" id="@item.Key@itemSeat.Name" />
                                    <label for="@item.Key@itemSeat.Name">@itemSeat.Name</label>
                                </li>
                            }
                        </ol>

                    </li>
                }

            </ol>
            <button class="btn btn-primary" onclick="SubmitSeat()">Xác nhận chỗ ngồi</button>
        </div>
    </div>

    <div style="border:1px solid #000000; width:50vw;" class="p-2">
        Thông tin vé <br />
        <form>
            <table class="InfoTickets">
                <tr>
                    <td>Phim :</td>
                    <td><input value="@ViewBag.NameMovie" readonly /></td>
                </tr>
                <tr>
                    <td>Ngày :</td>
                    <td><input name="DateShow" class="ngay_xem" value="@ViewBag.DateSee" readonly /></td>
                </tr>
                <tr>
                    <td> Khung giờ :</td>
                    <td><input name="HourShow" class="khung_gio" readonly /></td>
                </tr>
                <tr>
                    <td> Vị trí :</td>
                    <td><input name="ListPosition" class="vi_tri" readonly /></td>
                </tr>
            </table>
            <button type="button" class="btn btn-primary" onclick="Booking()">Xác nhận</button>
        </form>
    </div>
</div>
<script src="~/Asset/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    function SubmitSeat() {
        var StringPositon = "";
        var lsSeats = [];
        var a = $("input[name=postion]:checked");
        console.log(a);
        $.each(a, function () {
            StringPositon += $(this).attr('id') + ', ' ;

        })
        StringPositon = StringPositon.substring(0, StringPositon.length - 1);
        $('.vi_tri').val(StringPositon);

    }

    $('.box-Seats').addClass('alldisabled');

    function ChooseHour(e) {
        console.log(e);
        $('.div-hour').removeClass('HourChoosed');
        $(e).addClass('HourChoosed');
    }

    function SubmitHour() {
        var a = $('.HourChoosed').text();

        if (a == '') {
            alert("Vui long chon khung gio");
            return;
        }
        $('.box-Seats').removeClass('alldisabled');
        $('.khung_gio').val(a);
        $.ajax(
            {
                type: 'post',
                url: '@Url.Action("GetListSeatBooked","Booking")',
                data: { DateSee: $('.ngay_xem').val(), HourSee: $('.khung_gio').val() }
            }
            ).done(function (data) {
            $('.box-Seats').html(data);
        })
    }

    function Booking() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("Booking","Booking")',
            data: $('form').serialize()
        }).done(function (data) {
            alert(data);
        });
    }
</script>





